<div class="form-inline column-selector" data-table-class='{{name}}' data-table-downloadable-as='{{name}}.csv'></div>
<table class="table table-striped table-hover table-bordered table-sm sortable {{name}}">
    <thead>
    <tr>
        <th data-visibility='always'>Bug ID</th>
        <th data-visibility='show'>Bug Status</th>
        <th data-visibility='show'>Last Updated</th>
        <th data-visibility='show'>Bug Summary</th>
        <th>Component</th>
        <th>Priority</th>
        <th>Severity</th>
        <th>Tags</th>
        <th>Assignee</th>
        <th data-visibility='always'>Hit rate</th>
    </tr>
    </thead>
    <tbody>
        {% for issue, rate in issues.items %}
            <tr>
                <!-- Bug ID -->
                <td>
                {% include "CIResults/basic/issue_minimal.html" with issue=issue %}
                <ul>
                {% for bug in issue.bugs_cached %}
                    <li>{% include "CIResults/basic/bug.html" %}</li>
                {% endfor %}
                </ul>
                </td>

                <!-- Bug Status -->
                <td>
                <ul>
                {% for bug in issue.bugs_cached %}
                    <li>{{bug.status}}</li>
                {% endfor %}
                </ul>
                </td>

                <!-- Bug Updated -->
                <td>
                <ul>
                {% for bug in issue.bugs_cached %}
                    <li>{{bug.updated|timesince}} ago</li>
                {% endfor %}
                </ul>
                </td>

                <!-- Bug Summary -->
                <td>
                <ul id="issue_{{ forloop.counter0 }}">
                {% for bug in issue.bugs_cached %}
                    <li>{{bug.title}}</li>
                {% endfor %}
                </ul>
                </td>

                <!-- Component -->
                <td>
                <ul id="issue_{{ forloop.counter0 }}">
                {% for bug in issue.bugs_cached %}
                    <li>{{bug.component}}</li>
                {% endfor %}
                </ul>
                </td>

                <!-- Priority -->
                <td>
                <ul id="issue_{{ forloop.counter0 }}">
                {% for bug in issue.bugs_cached %}
                    <li>{{bug.priority}}</li>
                {% endfor %}
                </ul>
                </td>

                <!-- Severity -->
                <td>
                <ul id="issue_{{ forloop.counter0 }}">
                {% for bug in issue.bugs_cached %}
                    <li>{{bug.severity}}</li>
                {% endfor %}
                </ul>
                </td>

                <!-- Tags -->
                <td>
                <ul id="issue_{{ forloop.counter0 }}">
                {% for bug in issue.bugs_cached %}
                    <li>{% if bug.tags_list|length > 0 %}{{bug.tags_list|join:", "}}{% else %}No tags found{% endif %}</li>
                {% endfor %}
                </ul>
                </td>

                <!-- Assignee -->
                <td>
                <ul id="issue_{{ forloop.counter0 }}">
                {% for bug in issue.bugs_cached %}
                    <li>{{bug.assignee}}</li>
                {% endfor %}
                </ul>
                </td>

                <td>{{rate}}</td>
            </tr>
        {% empty %}
            <tr><td colspan="10" style="text-align: center;">No issues hit</td></tr>
        {% endfor %}
    </tbody>
</table>
