{% extends 'CIResults/base.html' %}

{% block title %}Passrate per test{% endblock %}

{% block content %}
    {% load helpers %}{% include "CIResults/basic/user_filtering_searchbox.html" with filters_model=history.filtering_model query=history.query %}

    <div class="panel panel-default panel-info" >
        <div class="panel-heading">Execution statistics</div>
        <div class="panel-body container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <canvas id="statuses_chart" data-chart-type="pie_chart" data-chart-data="{{history.result_statuses_chart.stats|escape}}" data-chart-title="Matched results ({{history.total_result_count}} test executions)" data-fullscreen-target="fullscreenModal"></canvas>
                </div>
                <div class="col-md-3">
                    <canvas id="filing__rate_chart" data-chart-type="pie_chart" data-chart-data="{{history.uncovered_failure_rate_chart.stats|escape}}" data-chart-title="Failure documentation ({{history.uncovered_failure_rate.total}} failures)" data-fullscreen-target="fullscreenModal"></canvas>
                </div>
                <div class="col-md-3">
                    <canvas id="agg_results_statuses_chart" data-chart-type="pie_chart" data-chart-data="{{history.aggregated_statuses_chart.stats|escape}}" data-chart-title="Aggregated test results ({{history.tests|length}} tests)" data-fullscreen-target="fullscreenModal"></canvas>
                </div>
                <div class="col-md-3">
                    <canvas id="passrate_chart" data-chart-type="pie_chart" data-chart-data="{{history.passrate_chart.stats|escape}}" data-chart-title="Aggregated passrate" data-fullscreen-target="fullscreenModal"></canvas>
                </div>
            </div>

        </div>
    </div>

    <div class="panel panel-default panel-info">
        <div class="panel-heading">Information about the selected results</div>
        <div class="panel-body">
            <table class="table table-striped table-hover table-bordered table-sm sortable">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>
                    <tr><td>Involved Run configs</td><td>{{history.runconfigs|csl:"runconfig:CIResults/basic/runconfig_lite.html"}}</td></tr>
                    <tr><td>Involved Machines</td><td>{{history.machines|csl:"machine:CIResults/basic/machine.html"}}</td></tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="panel panel-default panel-info">
        <div class="panel-heading">
            <a data-toggle="collapse" href="#tabular_view" class="text-info">
                Aggregated passrate = {{history.statistics.passrate}}, Run rate = {{history.statistics.runrate}}, Discarded rate = {{history.statistics.discarded_rate}}, Not-run rate = {{history.statistics.notrun_rate}}
            </a>
        </div>
        <div id="tabular_view" class="panel-body panel-collapse collapse">
            <div class="form-inline column-selector" data-table-class='test_results' data-table-downloadable-as='aggregated_test_results.csv'></div>
            <table id='tbl_tests' class="table table-striped table-hover table-bordered table-sm sortable test_results">
                <thead>
                <tr>
                    <th data-visibility='always'>Test Name</th>
                    <th data-visibility='show' title="Status and its occurence rate">Status, occ. rate</th>
                    <th data-visibility='show'>Issues hit, occ. rate</th>
                </tr>
                </thead>
                <tbody>
                    {% for test, results in history.tests.items %}
                        <tr>
                            <td>{% include "CIResults/basic/test.html" with test=test %}</td>
                            <td>{% if results.is_fully_discarded %}discarded (expected){% else %}{% if results.worst_failures|length > 0 %}<a href="{% url 'CIResults-testresult-detail' results.worst_failures.0 %}">{{results.overall_result}}</a>, {{results.rate_of_worst_failure}}{% else %}{{results.overall_result}}{% endif %}{% endif %}</td>
                            <td><ul>
                                {% for issue, rate in results.issue_occurence_rates.items %}
                                <li>{% include "CIResults/basic/issue.html" with issue=issue %}, {{rate}}</li>
                                {% endfor %}
                            </ul></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% if history.notrun_rate.count > 0 %}
    <div class="panel panel-default panel-danger">
        <div class="panel-heading">
            <a data-toggle="collapse" href="#most-interrupting-issues" class="text-danger">
                Not run rate {{history.notrun_rate}}, of which {{history.explained_interruption_rate}} are probably caused by {{history.most_interrupting_issues|length}} known issue(s), {{history.unknown_failure_interruption_rate}} are probably caused by yet-to-be-categorized failures, and {{history.unexplained_interruption_rate}} cannot be assigned to a failure
            </a>
        </div>
        <div id="most-interrupting-issues" class="panel-body panel-collapse collapse">
            {% include "CIResults/basic/issue_list.html" with issues=history.most_interrupting_issues name="most-interrupting-issues" %}
        </div>
    </div>
    {% endif %}

    <div class="panel panel-default panel-warning">
        <div class="panel-heading">
            <a data-toggle="collapse" href="#most-hit-issues" class="text-warning">
                {{history.most_hit_issues|length}} known issue(s) hit during test executions, with {{history.uncovered_failure_rate.count}} failures remaining to be filed
            </a>
        </div>
        <div id="most-hit-issues" class="panel-body panel-collapse collapse">
            {% include "CIResults/basic/issue_list.html" with issues=history.most_hit_issues name="most-hit-issues" %}
        </div>
    </div>

    <div class="modal fade" id="fullscreenModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 90%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>

    {% include "CIResults/basic/metrics_deps.html" %}
{% endblock %}
