{% extends 'CIResults/base.html' %}

{% block title %}Mass Test Renaming{% endblock %}

{% block content %}
    <div class="panel panel-default panel-warning">
        <div class="panel-heading">
            Information about the renaming process (MUST-READ before doing any action)
        </div>
        <div class="panel-body panel-collapse collapse in">
            This page allows you to mass rename tests:
            <ul>
                <li>Current tests will not be modified</li>
                <li>New tests will be created with the new name (if needed)</li>
                <li>New tests' public and vetted_on fields will be copied from their original test</li>
                <li>New tests will be added to the list of issues that were referencing the original test name</li>
                <li><strong>Please press the 'check' button before pressing 'Mass rename'</strong></li>
            </ul>
        </div>
    </div>

    <div class="panel panel-default panel-info">
        <div class="panel-heading">
            Rename a test by replacing a sub-string
        </div>
        <div class="panel-body panel-collapse collapse in">
            <div class="container-fluid">
                <form class="form-inline search_bar" method='post'>{% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary mb-2" name="action" value="check">Check</button>
                    <button type="submit" class="btn btn-warning mb-2" name="action" value="rename">Mass rename</button>
                </form>
            </div>
        </div>
    </div>

    <div class="panel panel-default panel-info">
        <div class="panel-heading">
            Tests that would be renamed ({{form.affected_tests|length}})
        </div>
        <div class="panel-body panel-collapse collapse in">
            <div class="container-fluid">
                <table class="table table-striped table-hover table-bordered table-sm sortable">
                    <thead>
                        <tr>
                            <th>Current test name</th>
                            <th>New test name</th>
                            <th>Affected filters</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for test, new_name in form.affected_tests.items %}
                        <tr>
                            <td>{% include "CIResults/basic/test.html" with test=test %}</td>
                            <td>{{new_name}}</td>
                            <td><ul>
                            {% for ifa in test.in_active_ifas %}
                                <li>{% include "CIResults/basic/ifa.html" with ifa=ifa %}</li>
                            {% empty %}
                                <li>None</li>
                            {% endfor %}
                            </ul></td>
                        </tr>
                    {% empty %}
                        <tr><td colspan='3' class='text-center'>No tests would be renamed</td></tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
